p {color:green; 
	font-style:italic;}
/* propriedades
p {font-family: arial;
	font-size: (12pt;12px;12cm;12%)
	font-style: italic;
	font-variant: small-caps;
	font-weight: (light;bold;4px)
	font: (serve para todas as proriedades)	
} 
*/