/* propriedades
li{display:(inline;block;none;list-item;)}
img{white-space:(pre;normal;nowrap;)}
ul{list-style-type:upper-alpha;none;disc;decimal;}
ul{list-style-image:url("imagem.gif");}
ul{list0-style-position:(inside;outside;)}
ul{list-style:inside square;}
} 
*/