/* propriedades
img{position:absolute; top:10; left;50; background:blue;}
img{float: left;}
img{clear:right;}
p{position:absolute; top:30; left:70; background:red;}
div{position:absolute;top:50;left:90;background:green;}
} 
*/