p {color:green; 
	font-style:italic;}
/* propriedades
p {line-height:(20pt;20cm;px;in;%;)
	text-align: (left;justify;)
	text-decoration: italic;
	text-indent: (6pt;px;cm;in;)
	word-spacing: 2pt;
	letter-spacing: 2pt;
	vertical-align: (baseline;sub;super;text-top;text-bottom;5%;)
	text-transform:(none;uppercase;lowercase;capitalize;)
} 
*/